// --------- primary ----------
$color-primary-100: #0C2C5C;
$color-primary-90: #24416C;
$color-primary-80: #3D567D;
$color-primary-60: #6D809D;
$color-primary-50: #8595AD;
$color-primary-30: #B6C0CE;
$color-primary-20: #CED5DE;
$color-primary-10: #E7EAEF;
$color-primary-5: #F3F4F7;

// --------- grey ----------
$color-grey-1: #313131;
$color-grey-2: #484848;
$color-grey-3: #5F5F5F;
$color-grey-4: #737373;
$color-grey-5: #BABABA;
$color-grey-6: #F4F4F4;
$color-grey-7: #F8F8F8;
$color-grey-8: #FBFBFB;

// --------- universal ----------
$color-black: #1A1A1A;
$color-error: #D4323C;
$color-success: #2A823D;
$color-yellow: #FFC83B;
