
@use 'vuetify/settings' with (

  $body-font-family: ('Manrope'),

  $button-height: 40px,

  $switch-track-width: 1px,
  $switch-track-height: 8px,

  $switch-inset-track-border-radius: 16.5px,
  $switch-inset-track-height: 24px,
  $switch-inset-track-width: 42px,

  $switch-thumb-height: 18px,
  $switch-thumb-offset: 3px,

  $input-control-height: 80px,
  $input-chips-margin-top: 0px,

  $field-label-floating-scale: 1,

  $slider-track-active-size-offset: 0,
  $slider-horizontal-min-height: 16px,

  $grid-breakpoints: (
    'xs': 0,
    'sm': 0,
    'md': 1200px,
    'lg': 1200px,
    'xl': 1200px
  )

);
